.stomp {
    position: fixed;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    right: 10px;
    top: 10px;
    width: 200px;
    padding: 20px;
    background-color: white;
}