.TestSockets__center {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.TestSockets__line {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.TestSockets_ns {
    flex-shrink: 0;
}

.TestSockets__wrapper {
    display: flex;
    column-gap: 20px;
}

.TestSockets__json {
    background-color: rgb(241, 236, 236);
    padding: 20px;
    flex-grow: 0;
    overflow: auto;
    height: 672px;
    width: 500px;
}

.TestSockets_send {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    background-color: rgb(248, 252, 252);
    border: 1px solid lightgray;
}